* {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: rgb(54,54,54);
  text-align: center;
}

.header {
  color: white;
  margin: 2rem 0;
  font-size: 2rem;
}

main {
  flex: 1 0 auto;
}

.container-1 {
  width: 50%;
  margin: 0 auto;
}

p {
  margin: 0;
  padding: 0;
}

input {
  margin-bottom: 2rem;
}

.flex-box-container {
  background-color: #bbb;
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.flex-box-container-2 {
  display: flex;
  background-color: #bbb;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.push {
  height: 50px;
}

#footer {
  flex-shrink: 0;
  width: 100%;
  background: red;
  padding: 1rem;
  color: white;
  text-align: center;
}
